:root {
	--border-color: #00BBBB;
	--text-color: #FFFFFF;
	--placeholder-color: #AAAAAA;
}

* {
	box-sizing: border-box;
}

html, body {
	background-color: black;
	color: var(--text-color);
	font-family: 'Arial';
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

body {
	line-height: 1.7;
}

#webGlCanvas  {
	height: 100%;
	width: 100%;
}


/* FORMULAR */

input[type="button"],
input[type="text"] {
	border: 2px solid var(--border-color);
	border-radius: 5px;
	color: inherit;
	font-size: 18px;
	margin: 15px 0 15px 0;
	padding: 10px;
	width: 100%;
}

input[type="button"] {
	background: #006666;
	cursor: pointer;
}

input[type="text"] {
	background: transparent;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
	color: var(--placeholder-color);
}



/***** CONNECT / LOGIN FORM *****/
.popover {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.popover .container {
	background: #00000080;
	border: 2px solid var(--border-color);
	border-radius: 5px;
	padding: 30px;
	width: 400px;
}

.popover .container #connectMessage {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
