* {
	box-sizing: border-box;
}

html, body {
	background-color: black;
	color: white;
	font-family: 'Arial';
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

body {
	line-height: 1.7;
}

input:focus {
    outline: none;
}

#webGlCanvas  {
	height: 100%;
	width: 100%;
}


/***** CONNECT / LOGIN FORM *****/

.popover {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.popover .container {
	background: #00000080;
	border: 2px solid #00BBBB;
	border-radius: 5px;
	padding: 30px;
	width: 400px;
}

.popover .container input[type="button"],
.popover .container input[type="text"] {
	border: 2px solid #00BBBB;
	border-radius: 5px;
	color: inherit;
	font-size: 18px;
}

.popover .container input[type="button"] {
	background: #006666;
	cursor: pointer;
	margin: 15px 0 15px 0;
	padding: 10px;
	width: 100%;
}

.popover .container input[type="text"] {
	background: transparent;
	margin: 15px 0 15px 0;
	padding: 10px;
	width: 100%;
}

.popover .container input[type="text"]::placeholder {
	color: #AAA;
}

.popover .container #connectMessage {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
